Repository dremio/arrow, pull requests merged in 2023-07, with the labels that each got.

#29 DX-67209 updated aes_encrypt/decrypt
  cpp/src/gandiva/encrypt_utils.cc
  cpp/src/gandiva/encrypt_utils.h
  cpp/src/gandiva/encrypt_utils_test.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/tests/projector_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting review

#34 DX-61115: [C++] Update fast_float version to 3.10.1 (#36434)
  cpp/src/arrow/util/value_parsing.cc
  cpp/src/arrow/util/value_parsing_test.cc
  cpp/src/arrow/vendored/fast_float/README.md
  cpp/src/arrow/vendored/fast_float/ascii_number.h
  cpp/src/arrow/vendored/fast_float/bigint.h
  cpp/src/arrow/vendored/fast_float/constexpr_feature_detect.h
  cpp/src/arrow/vendored/fast_float/decimal_to_binary.h
  cpp/src/arrow/vendored/fast_float/digit_comparison.h
  cpp/src/arrow/vendored/fast_float/fast_float.h
  cpp/src/arrow/vendored/fast_float/fast_table.h
  cpp/src/arrow/vendored/fast_float/float_common.h
  cpp/src/arrow/vendored/fast_float/parse_number.h
  cpp/src/arrow/vendored/fast_float/update.sh
Labels: awaiting review

#35 DX-61115: [C++] Update fast_float version to 3.10.1 (#36434)
  cpp/src/arrow/util/value_parsing.cc
  cpp/src/arrow/util/value_parsing_test.cc
  cpp/src/arrow/vendored/fast_float/README.md
  cpp/src/arrow/vendored/fast_float/ascii_number.h
  cpp/src/arrow/vendored/fast_float/bigint.h
  cpp/src/arrow/vendored/fast_float/constexpr_feature_detect.h
  cpp/src/arrow/vendored/fast_float/decimal_to_binary.h
  cpp/src/arrow/vendored/fast_float/digit_comparison.h
  cpp/src/arrow/vendored/fast_float/fast_float.h
  cpp/src/arrow/vendored/fast_float/fast_table.h
  cpp/src/arrow/vendored/fast_float/float_common.h
  cpp/src/arrow/vendored/fast_float/parse_number.h
  cpp/src/arrow/vendored/fast_float/update.sh
Labels: Component: C++, awaiting review, Component: Documentation

#36 DX-67936 Netty 4.1.96 upgrade for CVE-2023-34462 io.netty:netty-handler 4.1.93.Final
  java/pom.xml
Labels: awaiting review, Component: Java

#37 DX-61115 cherry picked commits form arrow
  README_DREMIO.md
  java/pom.xml
  java/vector/src/main/codegen/templates/BaseWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/ComplexWriterImpl.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
Labels: awaiting review, Component: Java, Component: Documentation

#38 Revert "DX-61115 cherry picked commits form arrow"
  README_DREMIO.md
  java/pom.xml
  java/vector/src/main/codegen/templates/BaseWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/ComplexWriterImpl.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
Labels: Component: Java, Component: Documentation
